<div class="row row-cols-1 row-cols-md-3 g-4">
  	<div class="col">
		
			<div class="card text-white bg-dark mb-3" style="max-width: 32rem;">
		  		<div class="card-header" align="center">Customer Complaints
		  		</div>
	  			<div class="card-body" align="center">
	    			<h5 class="card-title">No of Complaints</h5>
	    			<p class="card-text">{{ total_customer_cmp_cust }}</p>
	 			</div>
			</div>
		
	</div>
	
	<div class="col">
		
			<div class="card text-white bg-dark mb-3" style="max-width: 32rem;">
  				<div class="card-header" align="center">Section Initiated Complaints
  				</div>
  					<div class="card-body" align="center">
    					<h5 class="card-title">No of Complaints</h5>
    					<p class="card-text">{{ total_customer_cmp_sect }}</p>
 		 			</div>
 		 	</div>
		
	</div>

	<div class="col">
		
			<div class="card text-white bg-dark mb-3" style="max-width: 32rem;">
  				<div class="card-header" align="center">Transformer Maintenance
  				</div>
  					<div class="card-body" align="center">
    					<h5 class="card-title">No of Complaints</h5>
    					<p class="card-text">{{ total_trans_cmp }}</p>
 		 			</div>
 		 	</div>
		
	</div>

	</div>